{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <table class="table">
        <thead>
        <tr>

            <th scope="col">Modified At (UTC)</th>
            <th scope="col">Amount</th>
            <th scope="col">From</th>
            <th scope="col">To</th>


        </tr>
        </thead>
        <tbody>

        <tr id={{ money_movement.id }}>
            <td>{{ money_movement.modified_at_datetime_utc }}</td>
            <td>{{ money_movement.money_amount|string + " " + money_movement.iso_4217_currency_code }}</td>
            <td>{{ money_movement.sender.first_name + " " + money_movement.sender.last_name }}</td>
            <td>{{ money_movement.receiver.first_name + " " + money_movement.receiver.last_name }}</td>

        </tr>


        </tbody>
    </table>

    <h4>User Note</h4>
    <div class="card">
        <div class="card-body" style="white-space: pre">{{ money_movement.user_note }}</div>
    </div> <br>

    {{ wtf.quick_form(form) }}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                {% if category == "error" %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>

                {% else %}

                    <div class="alert alert-info" role="alert">{{ message }}</div>

                {% endif %}

            {% endfor %}
        {% endif %}
    {% endwith %}




{% endblock %}