{% extends 'bootstrap/base.html' %}

{% block title %}
    Money Movement Viewer
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Money Movement Viewer</a>
            </div>


            <ul class=" nav navbar-nav navbar-right">


                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}

                    <li><a>Welcome {{ current_user.name }}</a></li>
                    <li><a href="{{ url_for("money_movement.view_all_money_movements") }}">View Movements</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>

                {% endif %}
            </ul>
        </div>
    </nav>



{% endblock %}

{#content is Flask-Bootstraps base templat block for content - https://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks#}
{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}